/* @font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

html {
  box-sizing: border-box;
}

body * {
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  --minmax: minmax(250px, 1fr);

  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, var(--minmax));
  grid-gap: 10px;
}

/* the number of grid columns */
@media only screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, var(--minmax));
  }
}


@media only screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, var(--minmax));
  }
}


@media only screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: var(--minmax);
  }
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  cursor: pointer;
}

.search-input {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

/* modal fade in/out */
.ImageInfo.active {
  opacity: 1;
  visibility: visible; 
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .ImageInfo .content-wrapper {
    width: 100%;
  }
}

.ImageInfo .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ImageInfo .title-wrapper .title {
  font-size: 22px;
  letter-spacing: -1px;
  word-break: keep-all;
  margin: 0;
}

.ImageInfo .title-wrapper .close {
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.ImageInfo .title-wrapper,
.ImageInfo .description {
  padding: 15px;
}

.ImageInfo img.cat-photo {
  width: 100%;
}

.ImageInfo .description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* dark mode 처리
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
}
*?
